* {
  list-style: none;
  padding: 0;
  margin: 0; }

.centrarImg {
  margin: auto;
  display: block; }

@media only screen and (min-width: 576px) {
  .headerImg img {
    width: 20%; } }

@media only screen and (max-width: 576px) {
  .headerImg img {
    width: 40%; } }

@media only screen and (max-width: 768px) {
  .headerImg img {
    width: 60%; } }

@media only screen and (max-width: 992px) {
  .headerImg img {
    width: 80%; } }

@media only screen and (max-width: 1200px) {
  .headerImg img {
    width: 100%; } }

.menuNavegacion {
  display: Flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 40px; }
  .menuNavegacion a {
    text-decoration: none;
    color: white; }

@media only screen and (max-width: 992px) {
  .menuNavegacionMobileFirst {
    display: Flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 20%; } }

@media only screen and (max-width: 1200px) {
  .menuNavegacionMobileFirst {
    display: Flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 20%; } }

.colorNav {
  background-image: linear-gradient(to top, black, grey);
  margin-top: 0.5%; }

.footerHome {
  display: Flex;
  flex-direction: row;
  justify-content: center;
  width: 100%; }

@media only screen and (min-width: 350px) {
  .footerHome {
    display: Flex;
    flex-direction: row;
    justify-content: center;
    width: 100%; } }

@media only screen and (min-width: 576px) {
  .footerHome {
    display: Flex;
    flex-direction: row;
    justify-content: center;
    width: 100%; } }

.moverFooter {
  text-align: center; }

body {
  background-color: black; }

.colorMain1, .textoTercerSection {
  color: white; }

p {
  font-family: Arial, Helvetica, sans-serif; }

.Mover {
  margin-top: 15px; }

/*************APLICO ESTILOS A LA SEGUNDA SECCION SOBRE STARTUP WEEKEND******************/
.bodySegundoSection {
  background-color: black; }

/************APLICO ESTILOS A LA TERCER SECCION EVENTOS DE STARTUP WEEKEND************/
.bodyTercerSection {
  background-color: black; }

.textoTercerSection__centrarTexto {
  text-align: center; }

/**********APLICO ESTILOS A LA 4 SECCION EDICIONES REALIZADAS DE STARTUP WEEKEND************/
.imgGaleria {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "Area1 Area2" "Area3 Area4" "Area5 Area6";
  width: 100%; }
  .imgGaleria__img1Gal {
    grid-area: Area1;
    width: 50%;
    height: 80%;
    justify-self: center;
    align-self: center;
    margin-left: 25%; }
  .imgGaleria__img2Gal {
    grid-area: Area2;
    width: 50%;
    height: 80%;
    justify-self: center;
    align-self: center;
    margin-right: 25%; }
  .imgGaleria__img3Gal {
    grid-area: Area3;
    width: 50%;
    height: 80%;
    margin-left: 38%; }
  .imgGaleria__img4Gal {
    grid-area: Area4;
    width: 50%;
    height: 80%;
    margin-left: 13%; }
  .imgGaleria__img5Gal {
    grid-area: Area5;
    width: 50%;
    height: 80%;
    margin-left: 38%; }
  .imgGaleria__img6Gal {
    grid-area: Area6;
    width: 50%;
    height: 80%;
    margin-left: 13%; }
  .imgGaleria img:hover {
    border: 2px solid white; }

.imgGaleria2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "Area1 Area2" "Area3 Area4"; }
  .imgGaleria2__img1Gal2 {
    grid-area: Area1;
    width: 50%;
    height: 80%;
    justify-self: center;
    align-self: center;
    margin-left: 25%; }
  .imgGaleria2__img2Gal2 {
    grid-area: Area2;
    width: 50%;
    height: 80%;
    margin-left: 13%;
    margin-top: 5%; }
  .imgGaleria2__img3Gal2 {
    grid-area: Area3;
    width: 50%;
    height: 80%;
    margin-left: 38%; }
  .imgGaleria2__img4Gal2 {
    grid-area: Area4;
    width: 50%;
    height: 80%;
    margin-left: 13%; }
  .imgGaleria2 img:hover {
    border: 2px solid white; }

/**********APLICO ESTILOS A LA QUINTA SECCION SUMATE EL EQUIPO*************/
.agregoColor {
  color: white; }
