
*{
    list-style: none;
    padding:0;
    margin:0;
}

.centrarImg{
    margin: auto;
    display: block;
}

.headerImg{
    
    @media only screen and(min-width: 576px){
        img{
            width: 20%;
        }
    }

    @media only screen and(max-width: 576px){
        img{
            width: 40%;
        }
    }

    @media only screen and(max-width: 768px){
        img{
            width: 60%;
        }
    }

    @media only screen and(max-width: 992px){
        img{
            width: 80%;
        }
    }

    @media only screen and(max-width: 1200px){
        img{
            width: 100%;
        }
    }
}

   .menuNavegacion{
       display: Flex;
       flex-direction: row;
       justify-content: space-evenly;
       align-items: center;
       height: 40px;
       a{
        text-decoration:none;
        color:white;
       }
    }

   @media only screen and(max-width: 992px){
    .menuNavegacionMobileFirst{
        display: Flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 20%;
    }
   }

   @media only screen and(max-width: 1200px){
    .menuNavegacionMobileFirst{
        display: Flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 20%;
    }

   }
   
   .colorNav{
       background-image: linear-gradient(to top, black, grey);
       margin-top: 0.5%;
   }
 
  .footerHome{
    display: Flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    }

   @media only screen and(min-width: 350px){
    .footerHome{
        display: Flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
    }
   }

   @media only screen and(min-width: 576px){
    .footerHome{
        display: Flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
    }
   }

   .moverFooter{ 
       text-align: center;
   }
 
  body{
      background-color: black;
  }
   
  .colorMain1{
      color: white;
  }

  p{
      font-family: Arial, Helvetica, sans-serif;
  }

  .Mover{
    margin-top: 15px;
  }

  /*************APLICO ESTILOS A LA SEGUNDA SECCION SOBRE STARTUP WEEKEND******************/

  .bodySegundoSection{
      background-color: black;
  }

  /************APLICO ESTILOS A LA TERCER SECCION EVENTOS DE STARTUP WEEKEND************/
  .bodyTercerSection{
    background-color: black;
  }

  .textoTercerSection{
      @extend .colorMain1;
      &__centrarTexto{
        text-align: center;
      }
  }

 
    
  