
*{
    list-style: none;
    padding:0;
    margin:0;
}

.centrarImg{
    margin: auto;
    display: block;
}

.headerImg{
    
    @media only screen and(min-width: 576px){
        img{
            width: 20%;
        }
    }

    @media only screen and(max-width: 576px){
        img{
            width: 40%;
        }
    }

    @media only screen and(max-width: 768px){
        img{
            width: 60%;
        }
    }

    @media only screen and(max-width: 992px){
        img{
            width: 80%;
        }
    }

    @media only screen and(max-width: 1200px){
        img{
            width: 100%;
        }
    }
}

   .menuNavegacion{
       display: Flex;
       flex-direction: row;
       justify-content: space-evenly;  
   }


   @media only screen and(max-width: 992px){
    .menuNavegacionMobileFirst{
        display: Flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
   }

   

  

